:root {
  --color-dark-teal: #053742;
  --color-blu: #39A2DB;
  --color-light-blu: #A2DBFA;
  --color-light-gray: #E8F0F2;
  --color-white: white;
  --color-grayish: #D3D3D3;
  --color-background-gray: #F4F4F4;
  
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-light: 300;
}


.Login_card {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px 60px;
  margin:  auto;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  animation-name: none;
}

.Login_icon {
  width: 130px;
  height: 130px;
  background-color: var(--color-dark-teal);
  color: white;
  border-radius: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Login_icon svg {
  width: 74px;
  height: 74px;
}

.Login_input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 300px;
}

.Login_input-label {
  margin: 0;
  font-size: 23px;
  font-weight: var(--font-weight-light);
  margin-bottom: 8px;
}

.Login_input-text {
  margin-bottom: 22px;
  min-height: 35px;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--color-light-blu);
  font-size: 20px;
  font-weight: var(--font-weight-light);
  width: 100%;
  padding: 5px;
}

.Login_error-message {
  color: crimson;
}

.Login_btn-login {
  box-shadow: 3px 4px 10px -5px rgba(0, 0, 0, 0.2);
}
