:root {
  --color-dark-teal: #053742;
  --color-blu: #39A2DB;
  --color-light-blu: #A2DBFA;
  --color-light-gray: #E8F0F2;
  --color-white: white;
  --color-grayish: #D3D3D3;
  --color-background-gray: #F4F4F4;
  
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-light: 300;
}


html {
  font-family: Roboto;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

input[type="text"]
{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

body {
  background-color: var(--color-background-gray);
  margin: 0;
}

.btn {
  padding: 11px 29px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--color-light-blu);
  color: currentColor;
}

.btn:hover {
  animation-name: button-hover;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
}

.container-main {
  margin: 60px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 28px;
}

.card {
  background-color: var(--color-light-gray);
  box-shadow: 3px 4px 15px -5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  animation-name: card-fade-in;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.card > a {
  text-decoration: none;
  color: currentColor;
}

@media screen and (min-width: 768px) {
  .container-main {
    margin: 60px 0 0 260px;
  }
}

@keyframes button-hover {
  100% {
    background-color: var(--color-blu);
    outline: none;
    color: white;
  }
}

@keyframes card-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  
  100% {
    opacity: 1;
  }
}
